@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap');

:root {
  --foreground-rgb: 255, 255, 255; /* Texto en blanco para contraste */
  --background-start-rgb: 58, 58, 60; /* Gris oscuro para el inicio del degradado */
  --background-end-rgb: 99, 99, 102; /* Gris más claro para el final del degradado */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Texto en blanco, adecuado para el modo oscuro */

    --background-end-rgb: 66, 66, 69; /* Un gris medio para el final del degradado en modo oscuro */
  }
}

html, body {
  min-height: 100vh; /* Hace que al menos tengan la altura de la ventana del navegador */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina los paddings predeterminados */

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(-45deg, #000000, #1F2937, #1F2937, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  /* Asegúrate de que el div tenga un alto establecido para que el fondo sea visible */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.animated-background2 {
  background: linear-gradient(-45deg, #000000, #1F2937, #1F2937, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  /* Asegúrate de que el div tenga un alto establecido para que el fondo sea visible */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.f1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* Estilos personalizados para Swiper con Tailwind CSS */
.swiper-button-next, .swiper-button-prev {

  @apply text-white; /* Texto blanco */
  @apply p-1; /* Padding */
  @apply rounded; /* Bordes redondeados */
}

/* Estilos básicos para el carrusel */
.carousel-container {
  max-width: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 20%; /* Por defecto, muestra 5 elementos (100% / 5) */
  opacity: 1; /* Asegurarse de que sea visible por defecto */
  transition: opacity 0.5s ease;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 33.33%; /* Muestra 3 elementos (100% / 3) */
  }
}

/* Estilos para los botones de navegación */
.carousel-nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}



